.classes .form {background: white;

}

.text {
    background: "white"
}

.input-border {
    border-radius: 0.4rem !important;
}

.size {
    font-size: 35px;
}

.test:focus {
    font-size: 35px  !important;
    color: #f7fcff !important;
    font-weight: bold;
}

.side-list .MuiTypography-body1{
    font-weight: bold;
}

.toolbarTest {
    min-height: 204px !important;
}

